.readonly-wrapper{
    border: 1px solid var(--color-yellowStrokeWeak);
    border-radius: 10px;
    background-color: var(--color-warningFill);
}

// .middle-border{
//     border-left: 1px solid var(--color-yellowStrokeWeak);
//     border-right: 1px solid var(--color-yellowStrokeWeak);
// }

// .head-title{
//     font-size: 14px;
// }

// .head-label{
//     font-size: 14px;
//     letter-spacing: 1.5%;
// }