  <div class="flex align-items-center user-wrapper pl-3 pr-3 sm:mr-4 cursor-pointer gap-1 relative" [class]="showCart ? 'activeNav': 'darkest'"  (click)="toggleCart()" #userCart>
      <img
        [src]="!showCart? './assets/images/shopping-cart.svg': './assets/images/shopping-cart-white.svg'"
        alt="cart"
      />
      <div class="font-medium main-style-15">{{"navbar.cart" | translate}}</div>
  <div  [class]="showCart? 'absolute activeGreenBorder': ''"></div>

    </div>
  <div *ngIf="showCart && verified" class="menu p-4">
    <div class="choose-cart darkest  font-bold pb-3">{{"navbar.choose cart" | translate}}</div>
    <div class="flex gap-3">
  
                <div class="flex flex-column cursor-pointer justify-content-center cart-type-wrapper p-3  align-items-center" routerLink="/cart">
                    <div class="flex align-items-center justify-content-center cart-icon2"><img src="assets/images/menu-shopping.svg" alt="shopping"></div>
                    <div class="py-3 primary main-style font-bold ">{{"navbar.public shopping cart" | translate}}</div>
                    <div class="font-serif">0 <span class="font-medium main-style">{{"navbar.products" | translate}}</span></div>
                </div>
                <div class="flex flex-column cursor-pointer justify-content-center cart-type-wrapper p-3 align-items-center" routerLink="/contracts">
                    <div class="flex align-items-center justify-content-center cart-icon1"><img src="assets/images/menu-sheet.svg" alt="contract"></div>
                    <div  class="py-3 primary main-style font-bold">{{"navbar.contracts cart" | translate}}</div>
                    <div class="font-serif">0 <span class="font-medium main-tyle">{{"navbar.contracts" | translate}}</span></div>
                </div>
        </div>
    </div>