.invoice-created {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.005em;
}

.main-p{
  font-size: 18px;
}

.close-btn{
    background-color: var(--color-backgroundGrey);
    border: none;
}
