.product-name{
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.005em;
}

.product-desc{
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.015em;
}

.vendor-wrapper{
    border-top: 1px solid var(--color-light);
    border-bottom: 1px solid var(--color-light);

}

.vendor-img{
    border: 0.8px solid #DFDFDF;
    border-radius: 50%;
    box-shadow: 0px 20px 24px -4px #00000014, 0px 4px 6px 0px #00000000;

}

.amount-controller{
    border: 1px solid var(--color-darkest);
    border-radius: 8px;
}


.price-wrapper{
    vertical-align: baseline;
}

.price{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.015em;
}

.currency{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.015em;
}

.controller{
    width: 16px;
    height: 16px;

}

.amount{
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

}

.buy-btn{
    border: 1px solid var(--color-light);
    background-color: var(--color-stroke1);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    height: 48px;

    &:hover {
        border-color: var(--color-primary);
        color: var(--color-primary) ;
    }
}

.cart-btn{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    height: 48px;
}

.pay-wrapper{
    border: 1px solid var(--color-light);
    border-radius: 6px;
}

.safe-pay{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
}

