.shopping-subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
  }
  
  .tab-active {
    border-bottom: 2px solid var(--color-primary);
  }
  
  .contract-tab {
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.015em;
  }
  
  input::placeholder {
    color: #414141;
    font-family: "GE Dinar One Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.015em;
  }
  
  ::ng-deep .orders .p-inputtext{
      border-radius: 10px;
      border: 1px solid #E0E0E0;
      width: 100%;
      padding: 8px 0.75rem;
  }

  ::ng-deep .orders .drop-wrapper .p-inputtext{
    border: none;
}

::ng-deep .orders .drop-wrapper .p-inputtext:focus-visible{
    border: none;
    box-shadow: none;
}

  .filter-container{
      border: 1px solid #DFDFDF;
      border-radius: 8px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.015em;
  }

  ::ng-deep  .orders .p-dropdown{
    border: none;
    box-shadow: none;

}

::ng-deep  .orders .p-dropdown:focus-visible{
    border: none;
    box-shadow: none;
}

.primary-border{
    width: 100%;
    height: 3px;
    background-color: var(--color-primary) ;
    border-radius: 4px;
}

.filters{
    top: -42px;
    left: 0;
    height: 0;
}

::ng-deep  .orders .p-dropdown-trigger{
    display: none;
}


.order-value{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005em;
}