<section class="pt-5 sm:px-8 px-3 ">
    <div class="grid lg:flex-nowrap  flex-column md:flex-row gap-1 mb-5">
        <div class="lg:col-3">
            <div class="flex align-items-center show-filtered-title font-bold cursor-pointer yellowText mb-3">
                <div class="ml-3">{{ "home.productsToSearch" | translate }}</div>
                <img src="./assets/images/arrowLeft.svg" alt="arrow">
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/1.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price font-bold main-style-15 greenText flex gap-1">
                       
                     @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                    <span > 12,600</span> 
                                }@else {
                                <span> 12,600</span> 
                                <span>SAR</span>
                                }
                    </p>
                </div>
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/2.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">  @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 45,600</span> 
                                }@else {
                                <span> 45,600</span> 
                                <span>SAR</span>
                                }</p>
                </div>
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/3.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                          @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 59,600</span> 
                                }@else {
                                <span> 59,600</span> 
                                <span>SAR</span>
                                }</p>
                </div>
            </div>
        </div>
        <div class="lg:col-3">
            <div class="flex align-items-center show-filtered-title font-bold cursor-pointer yellowText mb-3">
                <div class="ml-3">{{ "home.arrivedLately" | translate }}</div>
                <img src="./assets/images/arrowLeft.svg" alt="arrow">
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/4.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                          @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 19,600</span> 
                                }@else {
                                <span> 19,600</span> 
                                <span>SAR</span>
                                }</p>
                </div>
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/5.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                          @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 600</span> 
                                }@else {
                                <span> 600</span> 
                                <span>SAR</span>
                                }
                    </p>
                </div>
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/6.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                        
                         @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 2,600</span> 
                                }@else {
                                <span> 2,600</span> 
                                <span>SAR</span>
                                }</p>
                </div>
            </div>
        </div>
        <div class="lg:col-3">
            <div class="flex align-items-center show-filtered-title font-bold cursor-pointer yellowText mb-3">
                <div class="ml-3">{{ "home.highRated" | translate }}</div>
                <img src="./assets/images/arrowLeft.svg" alt="arrow">
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/7.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                          @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 700</span> 
                                }@else {
                                <span>700</span> 
                                <span>SAR</span>
                                }
                    </p>
                </div>
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/8.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                         @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 7,600</span> 
                                }@else {
                                <span> 7,600</span> 
                                <span>SAR</span>
                                }
                    </p>
                </div>
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/9.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                         @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 7,600</span> 
                                }@else {
                                <span> 7,600</span> 
                                <span>SAR</span>
                                }
                    </p>
                </div>
            </div>
        </div>
        <div class="lg:col-3">
            <div class="flex align-items-center show-filtered-title font-bold cursor-pointer yellowText mb-3">
                <div class="ml-3">{{ "home.bestSeller" | translate }}</div>
                <img src="./assets/images/arrowLeft.svg" alt="arrow">
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/10.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                        
                          @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 8,600</span> 
                                }@else {
                                <span> 8,600</span> 
                                <span>SAR</span>
                                }
                    </p>
                </div>
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/11.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                          @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 2,600</span> 
                                }@else {
                                <span> 2,600</span> 
                                <span>SAR</span>
                                }
                    </p>
                </div>
            </div>
            <div class="card-filter flex justify-content-start align-items-start p-2 mb-3">
                <div class="small-product-img-wrapper ml-2"><img src="./assets/images/small-products/12.svg" alt="product"></div>
                <div class="desc-container">
                    <p class="product-description my-0 font-medium darkest">زارع بذور يدوي مع 6 ألواح للبذور يصل إلى 20 نوعًا، مزود بشفرة محراث زنك</p>
                    <p class="mb-0 mt-2 product-price  font-bold main-style-15 greenText flex gap-1">
                          @if(currentLanguage === 'ar'){
                                    <span>SAR</span>
                                <span > 12,600</span> 
                                }@else {
                                <span> 12,600</span> 
                                <span>SAR</span>
                                }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>