<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<section class="products-pagination">
    <p-tabView>
        <!-- Products Tab -->
        <p-tabPanel header="{{'home.products' | translate}}">
          <div class="filters flex align-items-center justify-content-end relative">
              <div class="my-0 result-border"> <p class="darkest results-num my-0 ml-1 inline-block">{{ totalResults }}</p> <span class="dark font-regular main-style results-text">{{"shopping.result" | translate}}</span></div>
             
              <p-dropdown
                [options]="sortOptions"
                [(ngModel)]="selectedSort"
                placeholder="order"
                (ngModelChange)="onSortChange($event)"
            >
            <i class="pi pi-chevron-down" style="font-size:1rem"></i>
            <ng-template let-selectedOption pTemplate="selectedItem">
                <p class="my-0"><span class="order-label font-bold ">{{"home.order" | translate}}:</span> <span class="main-style dark font-medium"> {{ selectedOption.label | translate }} </span></p>
            </ng-template>
    
            <ng-template let-option pTemplate="item">
                <span>{{ option.label | translate }}</span>
            </ng-template>
            </p-dropdown>
          </div>
          <div class="products-wrapper flex flex-wrap justify-content-center gap-3">
            @for (product of products; track product.id) {
    
             <div class="single-product-card py-4 px-5 relative cursor-pointer" (click)="navigateProductDetails(product.id)">    
                  @if(product.stockNumber <= 3 && product.stockNumber >= 1 ) {  <div class="absolute availability-wrapper main-style stroke1 font-medium p-1"> {{"home.lowStock" | translate}}</div>}
                  @if(product.stockNumber === 0) {  <div class="absolute availability-wrapper-empty main-style stroke1 font-medium p-1"> {{"home.unavailable" | translate}}</div>} 
                  @if(product.contract){ <div class="absolute contract-img"> <img src="./assets/images/contract.svg" alt="badge"></div>}
                  <div class="absolute flex align-items-center rating-wrapper"> 
                       @if(product.rating >= 4){  <img src="./assets/images/green-star.svg" alt="star">}
                       @if(product.rating <= 2){  <img src="./assets/images/red-star.svg" alt="star">}
                       @if(product.rating > 2 && product.rating < 4){  <img src="./assets/images/yellow-star.svg" alt="star">}
                         <p class="my-0 mr-1 dark">{{ product.rating }}</p>
                 </div>
    
                 <div class="flex justify-content-center mt-2 carousel-product-img"> <img [src]="product.imageUrl" alt="product"></div>
                 <p class="yellowText mt-1 mb-0 carousel-product-title font-bold"> {{ currentLanguage === 'ar' ? product.productNameAr : product.productNameEn }}</p>
                 <p class="dark my-2 ">
                     <span class="inline-block ml-1 font-medium carousel-product-info">{{"home.productCompany" | translate}}</span>
                      <span class="carousel-company-name font-bold">{{ currentLanguage === 'ar' ? product.vendorNameAr : product.vendorNameEn }}</span>
                 </p>
                 <div class="carousel-product-price flex align-items-center gap-1 darkest my-0  ">
                     @if(currentLanguage === 'ar'){
                     <div class=" inline-block font-serif main-style "> SAR </div>
                     <div class="inline-block font-medium">{{product.price}}</div> 
                    }@else {
                      <div class="inline-block font-medium">{{product.price}}</div> 
                      <div class=" inline-block font-serif main-style "> SAR </div>
                    }
                  </div>
             </div>
         }
         </div> 
      
          <p-paginator
          dir="ltr"
            [rows]="rowsPerPage"
            [totalRecords]="totalResults"
            (onPageChange)="paginate($event)"
          ></p-paginator>
        </p-tabPanel>
      
        <!-- Vendors Tab -->
        <p-tabPanel header="{{'home.suppliers' | translate}}">
            <div class="suppliers-wrapper flex flex-wrap gap-5">
            @for (supplier of suppliers; track $index) {
            <div class=" text-right py-3">
                <div class=" py-4 px-5 flex flex-column justify-content-center align-items-center">
                  <div class="flex justify-content-center align-items-center mt-2 border-circle circular-carousel-product-img">
                    <img [src]="supplier.imageUrl" alt="product" />
                  </div>
                  <p class="darkest mt-4 mb-0 main-style-15 font-semibold">
                    {{
                      currentLanguage === "ar"
                        ? supplier.supplierNameAr
                        : supplier.supplierNameEn
                    }}
                  </p>
             
                </div>
              </div>
            }
            </div>
        </p-tabPanel>
      </p-tabView>
</section>
