
.payment-title{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
}

.payment-wrapper{
    border-radius: 8px;
    border: 0.5px solid var(--color-light);
    width: 160px;
}

::ng-deep .payment-method p-calendar .p-inputtext{
    height: 32px;
    padding-inline-start: 40px;
}

.invoice-btn{
    border: 1px solid var(--color-medium);
    background-color: var(--color-stroke1);

    &:hover{
        color: var(--color-stroke1);
        background-color: var(--color-primary);
    }
}

.caution{
    background-color: var(--color-warningFill);
    border-radius: 4px;
    width: fit-content;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.005em;
}

.caution .invoice{
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.005em;
}