<div class="cart-card p-4 my-4">
   <p class="mb-3 mt-0 darkest font-bold delivery-title">{{"checkout.choose"| translate}}</p>
   <div class="flex flex-wrap gap-4">
        <div class="delivery-wrapper flex flex-column align-items-center px-3 py-2">
            <img src="./assets/images/box-brown.svg" alt="box">
            <p class="check-recieve darkest font-semibold my-2">{{"checkout.recieve"| translate}}</p>
            <p-radioButton inputId="rb1"  [(ngModel)]="deliveryMethod" name="deliveryMethod" value="company"  (ngModelChange)="onDeliveryMethodChange()" />
        </div>
        <div class="delivery-wrapper flex flex-column align-items-center  px-3 py-2">
            <img src="./assets/images/car.svg" alt="box">
            <p class="check-recieve darkest font-semibold my-2">{{"checkout.toSite"| translate}}</p>
            <p-radioButton inputId="rb2"  [(ngModel)]="deliveryMethod" name="deliveryMethod" value="online"  (ngModelChange)="onDeliveryMethodChange()"  />
        </div>
   </div>
</div>
