
.delivery-title{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
}

.delivery-wrapper{
    border-radius: 8px;
    border: 0.5px solid var(--color-light);
    width: 160px;
    height: fit-content;
}

.check-recieve{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005em;
}