.invoice-created {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.005em;
  }
  
  .helper-p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.015em;
  }
  
  .close-btn{
      background-color: var(--color-backgroundGrey);
      border: none;
  }


  .proceed-btn{
    background-color: var(--color-redText);
    border: none;
  }
  