<footer class="white font-regular main-style sm:px-8 px-3 py-8 text-nowrap">
  <div class="grid gap-4 flex-wrap mb-4 sm:mb-8">
        <div class="col">
          <div class="font-medium main-style-15 mb-2 pb-2 footer-titles">
            {{ "footer.company" | translate }}
          </div>
          <ul class="px-0 my-0 flex flex-column gap-2 lighter">
            <li>
              <div>{{ "footer.aboutus" | translate }}</div>
            </li>
            <li>
              <div>{{ "footer.home" | translate }}</div>
            </li>
            <li>
              <div>{{ "footer.jobs" | translate }}</div>
            </li>
            <li>
              <div>{{ "footer.eservices" | translate }}</div>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="font-medium main-style-15 mb-2 pb-2 footer-titles">
            {{ "footer.legal affairs" | translate }}
          </div>
          <ul class="px-0 my-0 flex flex-column gap-2 lighter">
            <li>
              <div>{{ "footer.legal" | translate }}</div>
            </li>
            <li>
              <div>{{ "footer.privacy" | translate }}</div>
            </li>
            <li>
              <div>{{ "footer.terms" | translate }}</div>
            </li>
            <li>
              <div>{{ "footer.cookies" | translate }}</div>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="font-medium main-style-15 mb-2 pb-2 footer-titles">
            {{ "footer.contact us" | translate }}
          </div>
          <div class="flex gap-2 mb-5">
            <img src="./assets/images/social-linkedin.svg" alt="social-icon" />
            <img src="./assets/images/social-instagram.svg" alt="social-icon" />
            <img src="./assets/images/social-x.svg" alt="social-icon" />
             <img src="./assets/images/social-linkedin.svg" alt="social-icon" />
          </div>
          <div class="font-medium main-style-15 mb-2 pb-2 footer-titles">
            {{ "footer.tools" | translate }}
          </div>
             <div class="flex gap-2 mb-5">
                <img src="./assets/images/social-eye.svg" alt="social-icon" />
                <img src="./assets/images/social-plus.svg" alt="social-icon" />
                <img src="./assets/images/social-hand.svg" alt="social-icon" />
              </div>
        </div>
  </div>
  <div class="flex flex-wrap justify-content-between align-items-center">
        <div class="md:mb-0 mb-4">
            <div class="flex gap-3 main-style-15">
                <p class="my-0 underline ">{{ "footer.map" | translate }}</p>
                <p class="my-0 underline">RSS</p>
                <p class="my-0 underline">{{ "footer.mobile" | translate }}</p>
            </div>
            <div class="font-semibold main-style-15 mt-4 mb-2 text-wrap" >{{ "footer.publish rights" | translate }}</div>
            <div class="flex gap-3">
                <p class="my-0"> {{ "footer.terms" | translate }}</p>
                <p class="my-0"> {{ "footer.privacy" | translate }}</p>
            </div>
        </div>
        <div class="flex gap-3 flex-wrap">
              <img src="assets/images/logo-big-white.png" alt="logo" />
              <img src="assets/images/sub-logo.png" alt="logo" />
        </div>
  </div>
</footer>